/* Write your custom CSS here ONLY if necessary */

.cart {
  margin-left: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #3a4895;
}

.card {
  margin: auto;
  border-radius: 15px;
  cursor: pointer;
  box-shadow: 0px 4px 0px 1px #888888;
}

.col-sm-4 {
  margin-bottom: 20px;
}

.card-body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 15px;
  width: 264px;
  height: 360px;
  justify-self: center;
}
.card-img-top {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 150px;
  height: 150px;
  position: relative;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-body h3 {
  margin-top: 20px;
  /* margin-bottom: 20px; */
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 1020px) {
  .col-sm-4 {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .col-sm-4 {
    width: 100%;
  }
}
